%h1 ログイン

%div.row
  %div.col-md-10.col-md-offset3
    = form_for(:session, url: login_path) do |f|

      %div.col-md-10.form-group
        = f.label :email, class: 'control-label col-md-2'
        = f.email_field :email, class: "form_control col-md-8"
  
      %div.col-md-10.form-group
        = f.label :password, class: 'control-label col-md-2'
        = f.password_field :password, class: "form_control col-md-8"

      %div.col-md-10.form-group
        = f.label :remember_me, class: "checkbox inline" do
          = f.check_box :remember_me
          %span このアカウントを記憶する
      
      %div.col-md-10.form-group
        = f.submit "ログイン", class: "btn btn-primary"

  %br
  %br
  %br

  %div.col-md-10
    %h5.col-md-4 アカウントを持っていませんか？
    = link_to "アカウント作成", signup_path 
