= form_for(@comment) do |f|
  = render 'shared/error_messages', object: f.object
  = hidden_field_tag :trick_id, @trick.id
  %div.field
    = f.label :content, 'コメント'
    %br
    = f.text_area :content, style: "width: 60vw; height: 5vw; background: #f2f2f2;"
  = f.submit yield(:submit_btn_text), :class => 'btn btn-primary'

