= form_for(@trick) do |f|
  = render 'shared/error_messages', object: f.object
  %div.field
    = f.label :title, 'タイトル'
    = f.text_field :title
  %div.field
    = f.label :content, '内容(マークダウンで書けます)'
    %br
    = f.text_area :content, placeholder: "内容を追加", style: "width: 60vw; height: 20vw;"
  %div.field
    = f.label :duration, '所用時間'
    = f.text_field :duration 
    分
  %div#tags-input
    %label 
      タグ
    = text_field_tag 'tag_list', @tag_list, "data-role" => "tagsinput"
  %div#tools-input
    %label 
      必要な道具
    = text_field_tag 'tool_list', @tool_list, "data-role" => "tagsinput"
  
  %input{:type=> "button", :onclick=>"submit();", :value=> yield(:submit_btn_text), :class=>"btn btn-primary"}

