%label user email: 
= @contributor.email

%label user name:
= @contributor.nick_name
%div.col-md-8
  - if @contributor.tricks.any?
    %h3 投稿数:  #{@contributor.tricks.count}
    %ol
    - @tricks.each do |trick| 
      = render 'tricks/trick_easy', trick: trick 
    = paginate @tricks
