%header.navbar.navbar-fixed_top.navbar-inverse.bg-primary
  %div.container
    = link_to 'Trick Share', '/', id: 'logo'
    %nav
      %ul.nav.navbar-nav.navbar-right
        %li
        - if logged_in?
          %li
            = link_to '新規投稿', new_trick_path, class: 'btn'
          %li.dropdown
            %a.dropdown-toggle{:href => '#', :data => {:toggle => 'dropdown'}} 
              アカウント 
              %b.caret 　
            %ul.dropdown-menu
              %li 
                = link_to 'プロフィール', current_contributor
              %li
                = link_to '設定', edit_contributor_path(current_contributor)
              %li.divider
              %li
                = link_to 'ログアウト', logout_path, method: :delete
        - else
          %li
            = link_to 'ログイン', login_path
  


